:root{
    --button:#18C7DB;
    --background:#003249;
    --text:#fff;
    --date:#80CED7;
    --infoText:#007EA7;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'rubik',sans-serif;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 310px;
    text-align: center;
    background:linear-gradient(228.08deg, #003249 -1.03%, #007EA7 100%);
}
 header img{  /*Se pierden los estilos de header y se tiene que volver a agregar*/

    width:179px;
    height: 58px;
    margin-top: 60px;
    align-self: center;
}
.header--title-container{
    width:90%; /*Se incluye el porcentaje de la pantalla*/
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 17px;
    text-align: center;
    align-self: center;
}
.header--title-container h1{
    font-size:2rem ;
    font-weight: 600;
    line-height: 2.6rem;
    color:#fff;
}
.header--title-container p{
    margin-top: 8px;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    color:#DAF6FF;
}
.header--title-container .header--button{ /*Ser muy especificos*/
    position: absolute;
    left:0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top:255px;
    display: block;
    margin-top: 30px;
    padding: 15px; /*le agrega espacio para agregar estilos*/
    width: 229px;
    height: 48px;
    background-color: var(--button);
    box-shadow:0 4px 8px rgba(89,73,30,0.16) ;
    border: none;
    border-radius: 20px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: #fff;
}
.header--button span{
    display: inline-block;
    width:21px;
    height: 11px;
    margin-left: 15px;
    background-image: url("./img/lookdownarrow.svg");
}
/****************  Exchange ***********************/
main{
    width:100%;
    height: auto;
    background-color: var(--background);
}
.main_exchange--container{
    width:100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 33px;
    text-align: center;
}
.main_exchange--container-title{
    width:90%;
    min-width: 288px;
    max-width: 900px;
    margin:0;
    text-align: center;
    margin: 0 auto;
}
.main_exchange--container .backgroundImg{
    width:320px;
    height: 200px;
    margin: 0 auto; /*Primero va este margin*/
    margin-bottom: 50px;
    background-image: url("./img/coins.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main_exchange--container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.6rem;
    color:#fff;
    text-align: center;
}
.main_exchange--container p{
    margin-bottom: 30px;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color:#fff;
    text-align: center;
}

/* coins */
.main-currency-table{
    width:70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin:0 auto;  /* para centrar la tabla */
}
 .main-currency-table .currency-title{   /*Es para ser muy especificos*/
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.8rem;
    text-align: left;
    color:var(--button);
}
.currency-table-container{
    width:90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table-container table{
    width:100%;
    height: 100%;
}
.currency-table-container td{
    width:50%;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color:#fff;
    background-color: #011620;
    text-align: center;
}
.currency-table-container .table__top-left{
    border-radius: 9px 0px 0px 0px;
}
.currency-table-container .table__top-right{
    border-radius: 0px 9px 0px 0px;
}
.currency-table-container .table__bottom-left{
    border-radius: 0px 0px 0px 9px;
}
.currency-table-container .table__bottom-right{
    border-radius: 0px 0px 9px 0px;
}
.currency-table-container .down{
    display: inline-block;
    width:15px;
    height: 15px;
    margin-left: 15px;
    background-image: url("./img/tabla/down.png");
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table-container .arrowUp{
    display: inline-block;
    width:15px;
    height: 15px;
    margin-left: 15px;
    background-image: url("./img/tabla/up.png");
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table-container .bit-ico{
    display: inline-block;
    width:15px;
    height: 15px;
    margin-right: 15px;
    background-image: url("./img/tabla/bitcoin.png");
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table-container .eth-ico{
    display: inline-block;
    width:15px;
    height: 15px;
    margin-right: 15px;
    background-image: url("./img/tabla/ethereum.png");
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table-container .rip-ico{
    display: inline-block;
    width:15px;
    height: 15px;
    margin-right: 15px;
    background-image: url("./img/tabla/ripple.png");
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table-container .ste-ico{
    display: inline-block;
    width:15px;
    height: 15px;
    margin-right: 15px;
    background-image: url("./img/tabla/stellar.png");
    background-position: center;
    background-repeat: no-repeat;
}
/* comission */
.main-currency-table-com{
    width:70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin:0 auto;  /* para centrar la tabla */
}
 .main-currency-table-com .currency-title-com{   /*Es para ser muy especificos*/
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.8rem;
    text-align: left;
    color:var(--button);
}
.currency_table--date{
    width:190px;
    height: 30px;
    margin:0 auto;
    padding: 8px;
    color:#CCDBDC;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8rem;
}
/* Beneficios */
.main-product--detail{
    position: relative;
    width:100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
}
.product-detail--logo{
    position:absolute; /*Necesita tener un padre relative*/
    width:58px;
    height: 58px;
    top:-10px;
    left: calc(50% - 20px);
    background-image: url("./img/logo-icon.svg");
}
.product-detail--title{
    width:90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;    
    margin-top: 38px;
    text-align: center;

}
.product-detail--title h2{
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 600;
    color:#fff;
    margin-bottom: 25px;
}
.product-detail--title p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color:#CCDBDC;
    margin-bottom: 25px;
}
/* Beneficios */
.product-detail--card{
    width:90%;
    min-width: 284px;
    max-width: 400px;
    height: 140px;
    margin: 15px auto;
    padding:15px;
    background-color: #011620;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
.product-detail--card .clock{
    display: inline-block;
    width:23px;
    height: 23px;
    margin-bottom: 20px;
    background-image: url("./img/beneficios/clock.png");
    background-position: center;
    background-repeat: no-repeat;
}
.product--card-title{
    width:228px;
    margin-left: 35px;
    margin-bottom: 20px;
    font-size:1.8rem ;
    line-height: 1.8rem;
    font-weight: 600;
    text-align: left;
    color: #fff;
}
.product--card-body{
    margin-left: 15px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color:#CAC9C9;
    text-align: left;
}
.product-detail--card  .eye{
    display: inline-block;
    width:23px;
    height: 23px;
    margin-bottom: 20px;
    background-image: url(./img/beneficios/eye.png);
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card  .dollar-sign{
    display: inline-block;
    width:23px;
    height: 23px;
    margin-bottom: 20px;
    background-image: url("./img/beneficios/dollar.png");
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card  .check{
    display: inline-block;
    width:23px;
    height: 23px;
    margin-bottom: 20px;
    background-image: url("./img/beneficios/check.png");
    background-position: center;
    background-repeat: no-repeat;
}
/* Planes img */
.bitcoin-img-container{
    width:100%;
    min-width: 320px;
    height: 50vh;   /*Se expande de acuerdo a la pagina*/
    background-image: url("./img/bitcoin.png");
    background-position: center;
    background-repeat: no-repeat;
}
.bitcoin-img-container h2{
    padding-top: 26px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    font-weight: 600;
    color:#fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
/* Planes cards*/
.main-plans-conteiner{
    width:100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.plans--title{
    width:90%;
    min-width:288px;
    height: auto;
    margin: 0 auto;
    margin-top: 13px;
}
.plans--title h2{
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 600;
    text-align: center;
    color:#fff;
}
.plans--title p{
    padding-top: 22px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color:#fff;
}
.plans-container-card{
     position: relative; /*Para que quede flotando */
    width:65%;
    min-width:230px;
    max-width:300px;
    height: 250px;
    margin:50px auto 0;
    padding: 0 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Planes text*/
.recommended{
    position: absolute;
    width:103px;
    height: 31px;
    padding: 8px;
    top:-15px;
    left: calc(50% - 50px); /* Se tiene que dejar el espacio */
    background-color: var(--button);
    border-radius: 8px;
    color:#fff;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: center;
}
.plan-card--title{
    padding-top: 30px;
    left: calc(50% - 50px); 
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    text-align: center;
    color:var(--background);
}

.plan-card--price {
    padding-top: 15px;
    font-size: 5.2rem;
    font-weight: 600;
    line-height: 6.3rem;
    text-align: center;
    color:var(--background);
}
.plan-card--price span{
    padding-top: 15px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    text-align: center;
    color:var(--background);
}
.plan-card--saving{
    padding-top: 15px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--date);
}
.plan-card-ca{
    min-width: 151px;
    height: 48px;
    margin-top: 15px;
    border: none;
    background-color: var(--button);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    color:#fff;
}
/* .plan-card-ca span{
    display: inline-block;
    width:24px;
    height: 20px;
    background-image: url('./img/rigthArrow.svg');
    background-position: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    padding-right: 20px;
} */